<div class="row d-flex justify-content-center m-5 pt-5">
  <div class="col-4 mx-5">

    <h2 class="mb-5">Welcome to Fauxbook</h2>

    <p>This site is a clone of a popular site you may have seen before. <i class="far fa-smile-wink"></i></p>
    <p>It was created as the final project for The Odin Project's <a href="https://www.theodinproject.com/courses/ruby-on-rails">Ruby on Rails</a> course.</p>

    <a href="https://www.theodinproject.com"><img src="https://www.theodinproject.com/assets/odin-logo-2d729f16279e9fc3b58ce847eacf07f883bdfc95eb23bb5064ed59d36ef551d6.svg" class="float-left mr-3">
    <p> The Odin Project</a> is a open source, full stack curriculum to learn web development.</p>

    <p>The goal of this project is to utilize everything learned up to this point in the curriculum to build a fully functioning website.<p>

    <p><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project"><strong>View the assignment »</strong></a></p>

    <p><a href="https://github.com/jasont01/odin-facebook"><button class="btn btn-outline-dark"><i class="fab fa-github"></i> View on Github</button></a></p>
    <br>
    <h5 class="font-weight-bold"><mark>Demo Login: demo@email.com / password</mark></h5>

  </div>
  <div class="col-4 mx-5 text-center">

    <p>Log in using your facebook account or create a new account below</p>

    <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-primary mr-2 my-3" do %>
      <i class="fab fa-facebook"></i>
      <span class="font-weight-bold"> Log in with Facebook</span>
    <% end %>

    <p>OR</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-user"></i></span>
          </div>
          <%= f.text_field :name, placeholder: "Name", autocomplete: "name", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control" %>
        </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success mb-2 float-left" %>
      </div>
    <% end %>

  </div>
</div>