<div class="row d-flex justify-content-center pt-5">

  <div class="col-2">

    <%= render partial: 'shared/sidebar_menu', locals: { page: 'profile' } %>
    
  </div>

  <div class="col-4">

    <div class="card mb-5">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-3 text-center">
            <%= render partial: 'shared/profile_image', object: @user, as: 'user' %>
            <%= link_to "change picture", edit_profile_image_path, class: 'btn btn-info btn-sm mt-2' %>
          </div>
          <div class="col">
            <h2><%= @user.name %></h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h2>Edit Profile</h2>

        <%= form_with model: @user, method: :put do |f| %>
        <%= f.fields_for :profile do |p| %>

          <div class="field form-group">
            <%= p.label :birthday %><br />
            <%= p.date_field :birthday, autocomplete: "birthday", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= p.label :location %><br />
            <%= p.text_field :location, autocomplete: "location", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= p.label :hometown %><br />
            <%= p.text_field :hometown, autocomplete: "hometown", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= p.label :relationship_status %><br />
            <%= p.text_field :relationship_status, autocomplete: "relationship_status", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= p.label :bio %><br />
            <%= p.text_area :bio, autocomplete: "bio", class: "form-control" %>
          </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Update Profile", class: "btn btn-success" %>
            <%= link_to "Back", :back %>
          </div>

        <% end %>
      </div>
    </div>

  </div>

  <div class="col-3"></div>
  
</div>