<div class="row pt-5">

  <div class="col-3">

    <%= render partial: 'shared/sidebar_menu', locals: { page: 'users' } %>
    
  </div>

  <div class="col-6 mb-5">
    <div class="card">
      <div class="card-body">
        <% @users.each do |user| %>
          <div class="row p-2">
            <div class="col">
          
              <%= image_tag(user.image, size: '40') %>
              <%= link_to user.name, user_path(user) %>

            </div>
            <div class="col d-flex justify-content-end">

              <% if FriendRequest.exists?(:user_id => user.id, :requesting_user_id => current_user.id) %>

                <button class="btn btn-outline-primary btn-sm disabled mt-1">Request Sent</button>

              <% elsif FriendRequest.exists?(:user_id => current_user.id, :requesting_user_id => user.id) %>

                <% request = FriendRequest.where(:user_id => current_user.id, :requesting_user_id => user.id).last %>
                <%= form_with url: '/accept_request', method: 'POST' do |f| %>
                  <%= f.hidden_field :requesting_user_id, :value => request.requesting_user_id %>
                  <%= f.hidden_field :request_id, :value => request.id %>
                  <%= f.submit "Accept Request", class: 'btn btn-success mt-1' %>
                <% end %>

              <% else %>

                <%= form_with url: '/friend_request', method: 'POST' do |f| %>
                  <%= f.hidden_field :user_id, :value => user.id %>
                  <%= f.submit "Add Friend", class: 'btn btn-primary mt-1' %>
                <% end %>

              <% end %>
      
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>