<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-4">
        <%= render partial: 'shared/profile_image', object: current_user, as: 'user' %>
      </div>
      <div class="col">
        <h5><%= current_user.name %></h5>
      </div>
    </div>
  </li>

  <% if local_assigns[:page] == "posts" %>
    <li class="list-group-item active">Home</li>
  <% else %>
    <li class="list-group-item"><%= link_to "Home", posts_path %></li>
  <% end %>

  <% if local_assigns[:page] == "profile" %>
    <li class="list-group-item active">Profile</li>
  <% else %>
    <li class="list-group-item "><%= link_to "Profile", current_user %></li>
  <% end %>

  <% if local_assigns[:page] == "friends" %>
    <li class="list-group-item d-flex justify-content-between align-items-center active">Friends</li>
  <% else %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to "Friends", friends_path %><span class="badge badge-primary badge-pill"><%= current_user.friends.count %></span>
    </li>
  <% end %>

  <% if local_assigns[:page] == "users" %>
    <li class="list-group-item active">Find Friends</li>
  <% else %>
    <li class="list-group-item"><%= link_to "Find Friends", users_path %></li>
  <% end %>
</ul>