<div class="row">

  <div class="col-3 pt-5">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= image_tag(current_user.image, size: '30') %>
        <%= current_user.name %>
      </li>
      <li class="list-group-item active">Home</li>
      <li class="list-group-item "><%= link_to "Profile", current_user %></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "Friends", current_user %><span class="badge badge-primary badge-pill"><%= current_user.friends.count %></span>
      </li>
      <li class="list-group-item"><%= link_to "Find Friends", users_path %></li>
    </ul>
    
  </div>

  <div class="col-6 mx-4">

    <section class="p-4">
      <%= form_with model: @new_post, mothod: 'POST' do |f| %>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Post something...' %>
        <%= f.submit "Post", class: 'btn btn-primary mt-3' %>
      <% end %>
    </section>

    <section>
      <%= render partial: 'feed', collection: @posts, as: :post %>
    </section>

  </div>

  <div class="col pt-5">

    <% requests = FriendRequest.where(:user_id => current_user.id) %>
    <% if requests.exists? %>
      <h5>Friend Requests:</h5>
      <% requests.each do |request| %>
        <% requesting_user = User.find(request.requesting_user_id) %>
        
        <ul class="list-group list-group-flush my-4">
          <li class="list-group-item">
            <%= image_tag(requesting_user.image, size: '40') %>
            <%= link_to requesting_user.name, user_path(requesting_user) %>

            <%= form_with url: 'accept_request', method: 'POST' do |f| %>
              <%= f.hidden_field :requesting_user_id, :value => requesting_user.id %>
              <%= f.hidden_field :request_id, :value => request.id %>
              <%= f.submit "Accept Request", class: 'btn btn-primary btn-sm mt-1' %>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% end %>

    <h5>Suggested Friends:</h5>

    <% @suggested_friends.each do |suggestion| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= image_tag(suggestion.image, size: '40') %>
          <%= link_to suggestion.name, user_path(suggestion) %>
          <% if FriendRequest.exists?(:requesting_user_id => current_user.id) %>
            <button class="btn btn-outline-primary btn-sm disabled mt-1">Request Sent</button>
          <% else %>
            <%= form_with url: 'friend_request', method: 'POST' do |f| %>
              <%= f.hidden_field :user_id, :value => suggestion.id %>
              <%= f.submit "Add Friend", class: 'btn btn-primary btn-sm mt-1' %>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>