<div class="row d-flex justify-content-center pt-5">

  <div class="col-2">

    <%= render partial: 'shared/sidebar_menu', locals: { page: 'posts' } %>
    
  </div>

  <div class="col-4 mx-2">

    <section>

      <%= form_with model: @new_post, mothod: 'POST' do |f| %>

        <%= f.text_area :content, class: 'form-control border border-primary', placeholder: 'Post something...' %>

          <div class="input-group mt-1 mb-5">
            <div class="custom-file">
              <%= f.file_field :photo, class: 'custom-file-input' %>
              <%= f.label "post a picture", class: 'custom-file-label' %>
            </div>
            <div class="input-group-append">
              <%= f.submit "Submit Post", class: 'btn btn-primary px-3' %>
            </div>
          </div>
      <% end %>
      
    </section>

    <section>
      <%= render partial: 'feed', collection: @posts, as: :post %>
    </section>
  </div>

  <div class="col-2">

    <% requests = FriendRequest.where(:user_id => current_user.id, :ignore => false) %>
    <% if requests.exists? %>
      <h5>Friend Requests:</h5>
      <ul class="list-group list-group-flush my-4">
        <% requests.each do |request| %>
          
          <li class="list-group-item">
            <%= render partial: "friends/request", object: request %>
          </li>

        <% end %>
      </ul>
    <% end %>

    <% if !@suggested_friends.empty? %>
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">People you may know:</h5>
        <% @suggested_friends.each do |suggestion| %>
          
            <div class="row mt-3">
              <div class="col-sm-3">
                <%= render partial: 'shared/profile_image', object: suggestion, as: 'user' %>
                  </div>
                  <div class="col">
                <%= link_to suggestion.name, user_path(suggestion) %>
                <% if FriendRequest.exists?(:user_id => suggestion.id, :requesting_user_id => current_user.id) %>
                  <button class="btn btn-outline-primary btn-sm disabled mt-1">Request Sent</button>
                <% else %>
                  <%= form_with url: 'friend_request', method: 'POST' do |f| %>
                    <%= f.hidden_field :user_id, :value => suggestion.id %>
                    <%= f.submit "Add Friend", class: 'btn btn-primary btn-sm mt-1' %>
                  <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
        </div>
      </div>
    <% end %>
    
  </div>

</div>

<div class="row d-flex justify-content-center py-4">
  <%= paginate @posts %>
</div>