<div class="row">

  <div class="col-3 pt-5">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= image_tag(current_user.image, size: '30') %>
        <%= current_user.name %>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center active">Home</li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><%= link_to "Profile", current_user %></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "Friends", current_user %><span class="badge badge-primary badge-pill"><%= current_user.friends.count %></span>
      </li>
    </ul>
    
  </div>

  <div class="col-6 mx-4">

    <section class="p-4">
      <%= form_with model: @new_post, mothod: 'POST' do |f| %>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Post something...' %>
        <%= f.submit "Post", class: 'btn btn-primary mt-3' %>
      <% end %>
    </section>

    <section>
      <%= render partial: 'feed', collection: @posts, as: :post %>
    </section>

  </div>

  <div class="col pt-5">
    <h5>Suggested Friends:</h5>

    <% @suggested_friends.each do |suggestion| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= image_tag(suggestion.image, size: '40') %>
          <%= link_to suggestion.name, user_path(suggestion) %>
          <%= link_to "Add Friend", nil, class: 'btn btn-primary btn-sm' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>