<!DOCTYPE html>
<html>
  <head>
    <title>Fauxbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/22f61d7fe5.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="page-container">
      <div class="content-wrap">

        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-between mb-4">
          
          <span class="navbar-brand">
            <%= link_to "Fauxbook", :root, class: "navbar-brand" %>
          </span>

          <span class="mr-5">

            <% if user_signed_in? %>
              <!--Notifications-->
              <% requests = FriendRequest.where(:user_id => current_user.id, :ignore => false) %>
              <% if requests.exists? %>
        
                <span class="dropdown">
                  <button class="btn btn-warning btn-sm mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="far fa-bell"></i> <span class="badge badge-light"><strong><%= requests.count %></strong></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">

                    <% requests.each do |request| %>

                      <div class="p-3">

                        <h5>Friend Request:</h5>
                        <%= render partial: "friends/request", object: request %>
                      </div>

                    <% end %>
                
                  </div>
                </span>

              <% else %>

                <span class="dropdown">
                  <div class="btn btn-primary btn-sm mr-3 disabled">
                    <i class="far fa-bell"></i>
                  </div>
                </span>

              <% end %>

              <!--Session Buttons-->
              <%= link_to root_path, class: "btn btn-secondary mr-2 btn-sm" do %>
                <i class="fas fa-home"></i>
              <% end %>
              <%= link_to current_user.name, user_path(current_user), class: "btn btn-secondary mr-2 btn-sm" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
            <% else %>
              <%= render partial: "devise/sessions/signin" %>
            <% end %>
          </span>

        </nav>
        <!-- end navbar -->

        <div class="container-fluid">

          <!-- alerts -->
          <div class="row d-flex justify-content-center">
            <div class="col-8">

              <% if flash[:notice] %>
                <div class="alert alert-success">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                  <%= notice %>
                </div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert alert-warning">
                 <button class="close" data-dismiss="alert"><span>&times;</span></button>
                  <%= alert %>
                </div>
              <% end %>

            </div>
          </div>
          <!-- end alerts -->

          <%= yield %>

        </div>

      </div>

      <footer class="text-center mb-3">
        <a href="https://github.com/jasont01/odin-facebook" class="text-muted"><i class="fab fa-github"></i></a>
        <small class="d-block font-weight-bold text-muted">© 2020 Fauxbook. All rights reserved.</small>
      </footer>

    </div>

  </body>
</html>